body {
  font-family: "IBM Plex Sans", sans-serif;
}

.text-xxxl {
  font-size: 80px !important;
  font-weight: 700;
}
.text-xxl {
  font-size: 56px !important;
  font-weight: 700;
}
.text-xl {
  font-size: 40px !important;
  font-weight: 700;
}
.text-lg {
  font-size: 32px !important;
  // font-weight: 700;
}
.text-md {
  font-size: 24px !important;
  /* font-weight: 600; */
}
.text-sm {
  font-size: 16px !important;
}
.text-s {
  font-size: 14px !important;
}
.text-xs {
  font-size: 12px !important;
}

/* @font-face {
  font-family: 'Basic Sans8';
  src: url('/fonts/basic_sans8.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kantumruy Pro';
  src: url('/fonts/KantumruyPro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* --------------------
// MOBILE DEVICES
// -------------------- */
/* 📱 Mobile (≤ 640px) */
@media only screen and (max-width: 640px) {
  /* Styles for mobile phones */
  :root {
    --font-size-xxxl: 28px; /* hero heading */
    --font-size-xxl: 24px; /* h1 */
    --font-size-xl: 20px; /* h2 */
    --font-size-lg: 18px; /* h3 */
    --font-size-md: 16px; /* body */
    --font-size-sm: 14px; /* small text */
    --font-size-xs: 12px; /* captions */
    --height-core-value: calc(var(--base-core-value-height) * 1.1.1);
    --height-video-section: 30%;
    --width-arrow-down: 32px;
    --height-arrow-down: 32px;
  }

  .text-xxxl {
    font-size: var(--font-size-xxxl) !important;
  }
  .text-xxl {
    font-size: var(--font-size-xxl) !important;
  }
  .text-xl {
    font-size: var(--font-size-xl) !important;
  }
  .text-lg {
    font-size: var(--font-size-lg) !important;
  }
  .text-md {
    font-size: var(--font-size-md) !important;
  }
  .text-sm {
    font-size: var(--font-size-sm) !important;
  }
  .text-s {
    font-size: var(--font-size-s) !important;
  }
  .text-xs {
    font-size: var(--font-size-xs) !important;
  }

  /* In Home Page */
  .bg-overlay {
    // padding: 20px;
    flex-direction: column;

    .core-value__section {
      flex-direction: column !important;
    }

    .left {
      width: 100% !important;
      margin-bottom: 20px;
      .left__section {
        width: 100% !important;
      }
    }
    .right {
      width: 100%;
    }
  }
  .our__objective,
  .latest__section {
    flex-direction: column;
  }
  .our__objective {
    .left {
      margin-bottom: 20px;
    }
    .left__section {
      margin: unset;
    }
  }
}

/* 📲 Tablet (641px – 1024px) */
@media only screen and (min-width: 641px) {
  /* Styles for tablets in portrait mode */
  :root {
    --font-size-xxxl: 36px;
    --font-size-xxl: 30px;
    --font-size-xl: 24px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --height-core-value: calc(var(--base-core-value-height) * 1.1);
    --height-video-section: 50%;
    --width-arrow-down: 32px;
    --height-arrow-down: 32px;
  }
  .text-xxxl {
    font-size: var(--font-size-xxxl) !important;
  }
  .text-xxl {
    font-size: var(--font-size-xxl) !important;
  }
  .text-xl {
    font-size: var(--font-size-xl) !important;
  }
  .text-lg {
    font-size: var(--font-size-lg) !important;
  }
  .text-md {
    font-size: var(--font-size-md) !important;
  }
  .text-sm {
    font-size: var(--font-size-sm) !important;
  }
  .text-s {
    font-size: var(--font-size-s) !important;
  }
  .text-xs {
    font-size: var(--font-size-xs) !important;
  }
  /* In Home Page */
  .latest__section {
    .left__section {
      margin: unset;
    }
  }
  /* In Home Page */
  .bg-overlay {
    .core-value__section {
      flex-direction: column !important;

      .left__section {
        margin-bottom: 20px;
      }
    }
  }
}

/* --------------------

/* 💻 Laptop (1025px – 1440px) */
@media only screen and (min-width: 1025px) {
  /* Styles for tablets in landscape mode */
  :root {
    --font-size-xxxl: 46px;
    --font-size-xxl: 40px;
    --font-size-xl: 32px;
    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --height-core-value: calc(var(--base-core-value-height) * 1.2);
    --height-video-section: 80%;
    --width-arrow-down: 42px;
    --height-arrow-down: 42px;
  }
  .text-xxxl {
    font-size: var(--font-size-xxxl) !important;
  }
  .text-xxl {
    font-size: var(--font-size-xxl) !important;
  }
  .text-xl {
    font-size: var(--font-size-xl) !important;
  }
  .text-lg {
    font-size: var(--font-size-lg) !important;
  }
  .text-md {
    font-size: var(--font-size-md) !important;
  }
  .text-sm {
    font-size: var(--font-size-sm) !important;
  }
  .text-s {
    font-size: var(--font-size-s) !important;
  }
  .text-xs {
    font-size: var(--font-size-xs) !important;
  }

  /* In Home Page */
  .bg-overlay {
    .core-value__section {
      flex-direction: row !important;

      .left__section {
        margin-bottom: unset;
      }
    }
  }
}

/* --------------------
// DESKTOP & LARGE SCREENS
// -------------------- */
/* 🖥️ Desktop (1441px – 1920px) */
@media only screen and (min-width: 1441px) {
  /* Styles for small laptops and desktops */
  :root {
    --font-size-xxxl: 56px;
    --font-size-xxl: 48px;
    --font-size-xl: 36px;
    --font-size-lg: 28px;
    --font-size-md: 18px;
    --font-size-sm: 16px;
    --font-size-xs: 14px;
    --height-core-value: calc(var(--base-core-value-height) * 1.2);
    --height-video-section: 80%;
    --width-arrow-down: 42px;
    --height-arrow-down: 42px;
  }
  .text-xxxl {
    font-size: var(--font-size-xxxl) !important;
  }
  .text-xxl {
    font-size: var(--font-size-xxl) !important;
  }
  .text-xl {
    font-size: var(--font-size-xl) !important;
  }
  .text-lg {
    font-size: var(--font-size-lg) !important;
  }
  .text-md {
    font-size: var(--font-size-md) !important;
  }
  .text-sm {
    font-size: var(--font-size-sm) !important;
  }
  .text-s {
    font-size: var(--font-size-s) !important;
  }
  .text-xs {
    font-size: var(--font-size-xs) !important;
  }
}

/* 🖥️💡 Large Screens (1921px+) */
@media only screen and (min-width: 1921px) {
  /* Styles for large desktops and TVs */
  :root {
    --font-size-xxxl: 64px;
    --font-size-xxl: 56px;
    --font-size-xl: 40px;
    --font-size-lg: 32px;
    --font-size-md: 20px;
    --font-size-sm: 16px;
    --font-size-xs: 14px;
    --height-core-value: calc(var(--base-core-value-height) * 1);
    --height-video-section: 80%;
    --width-arrow-down: 42px;
    --height-arrow-down: 42px;
  }
  .text-xxxl {
    font-size: var(--font-size-xxxl) !important;
  }
  .text-xxl {
    font-size: var(--font-size-xxl) !important;
  }
  .text-xl {
    font-size: var(--font-size-xl) !important;
  }
  .text-lg {
    font-size: var(--font-size-lg) !important;
  }
  .text-md {
    font-size: var(--font-size-md) !important;
  }
  .text-sm {
    font-size: var(--font-size-sm) !important;
  }
  .text-s {
    font-size: var(--font-size-s) !important;
  }
  .text-xs {
    font-size: var(--font-size-xs) !important;
  }
}
